In [1]:
import os
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('datasets\\BL-Flickr-Images-Book.csv')

In [3]:
# show the tail of the data 
df.tail()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
8282,4158088,NaN,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8283,4158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [4]:
# ROWS AND COLUMNS IN THE DATASET
df.shape

(8287, 15)

In [5]:
# is identify column unique
df['Identifier'].is_unique

True

In [6]:
# set the column identifier as index col 
df.set_index('Identifier', inplace=True)

In [7]:
# Percentage and count of missing values per row
for col in df.columns:
    nulls = df[col].isna().sum()
    pct = (nulls / df.shape[0]) * 100
    print('{} - {}%'.format(col, round(pct)))
    print(nulls)
    print()

Edition Statement - 91%
7514

Place of Publication - 0%
0

Date of Publication - 2%
181

Publisher - 51%
4195

Title - 0%
0

Author - 21%
1778

Contributors - 0%
0

Corporate Author - 100%
8287

Corporate Contributors - 100%
8287

Former owner - 100%
8286

Engraver - 100%
8287

Issuance type - 0%
0

Flickr URL - 0%
0

Shelfmarks - 0%
0

In [8]:
# Drop all the columns that has 90% or more missing data
df.drop(['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver'], axis=1, inplace=True)

In [9]:
df.dtypes

Place of Publication    object
Date of Publication     object
Publisher               object
Title                   object
Author                  object
Contributors            object
Issuance type           object
Flickr URL              object
Shelfmarks              object
dtype: object

In [10]:
import re

# pattern
regex = r'(\d{4})'

# extract the year 
df['Date of Publication'] = df['Date of Publication'].str.extract(regex)

In [11]:
# convert to number
df['Date of Publication'] = pd.to_numeric(df['Date of Publication'])

In [12]:
# categorical and numerical columns
cat = df.select_dtypes(exclude=[np.number])
num = df.select_dtypes(include=[np.number])
cat

,Place of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,
206,London,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,London; Virtue & Yorston,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,London,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,London,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,London,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...
4158088,London,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
4158128,Derby,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
4159563,London,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
4159587,Newcastle upon Tyne,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
4160339,London,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [13]:
# numerical columns
num

            Date of Publication
Identifier
206                      1879.0
216                      1868.0
218                      1869.0
472                      1851.0
480                      1857.0
...                         ...
4158088                  1838.0
4158128                  1831.0
4159563                  1806.0
4159587                  1834.0
4160339                  1834.0

[8287 rows x 1 columns]

In [14]:
df.dtypes

Place of Publication     object
Date of Publication     float64
Publisher                object
Title                    object
Author                   object
Contributors             object
Issuance type            object
Flickr URL               object
Shelfmarks               object
dtype: object

In [15]:
# Percentage and count of missing values per row
for col in df.columns:
    nulls = df[col].isna().sum()
    pct = (nulls / df.shape[0]) * 100
    print('{} - {}%'.format(col, round(pct)))
    print(nulls)
    print()

Place of Publication - 0%
0

Date of Publication - 2%
183

Publisher - 51%
4195

Title - 0%
0

Author - 21%
1778

Contributors - 0%
0

Issuance type - 0%
0

Flickr URL - 0%
0

Shelfmarks - 0%
0

In [16]:
# front fill the missing values in date of publication
df['Date of Publication'].fillna(method='ffill', inplace=True)

In [17]:
# Drop rows with missing data in Author column
idx = df.loc[df['Author'].isnull()].index
df.drop(idx, axis=0, inplace=True)

In [18]:
# Fill the missing data in publisher column with 'Unknown'
df.Publisher.fillna('Unknown', axis=0, inplace=True)

In [19]:
# inspect the col
df['Place of Publication']

Identifier
206                          London
216        London; Virtue & Yorston
218                          London
472                          London
480                          London
                     ...
4157862         Newcastle-upon-Tyne
4158088                      London
4158128                       Derby
4159563                      London
4159587         Newcastle upon Tyne
Name: Place of Publication, Length: 6509, dtype: object

In [20]:
# ther's an inconsistant data in the column. 
reg = r'([a-zA-Z]+)'
df['Place of Publication'] = df['Place of Publication'].str.extract(reg)

In [21]:
# Inspect the column
df['Publisher']

Identifier
206               S. Tinsley & Co.
216                   Virtue & Co.
218          Bradbury, Evans & Co.
472                  James Darling
480           Wertheim & Macintosh
                    ...
4157862                 T. Fordyce
4158088                    Unknown
4158128            M. Mozley & Son
4159563    T. Cadell and W. Davies
4159587           Mackenzie & Dent
Name: Publisher, Length: 6509, dtype: object

In [22]:
# inspect the column
df['Title']

Identifier
206                        Walter Forbes. [A novel.] By A. A
216        All for Greed. [A novel. The dedication signed...
218        Love the Avenger. By the author of “All for Gr...
472        Welsh Sketches, chiefly ecclesiastical, to the...
480        [The World in which I live, and my place in it...
                                 ...
4157862    Local Records; or, Historical Register of rema...
4158088    The Parochial History of Cornwall, founded on,...
4158128    The History and Gazetteer of the County of Der...
4159563    Magna Britannia; being a concise topographical...
4159587    An historical, topographical and descriptive v...
Name: Title, Length: 6509, dtype: object

In [23]:
# inspect the column
df['Author']

Identifier
206                                                    A. A.
216                                                A., A. A.
218                                                A., A. A.
472                                                A., E. S.
480                                                A., E. S.
                                 ...
4157862        FORDYCE, T. - Printer, of Newcastle-upon-Tyne
4158088                   GIDDY, afterwards GILBERT, Davies.
4158128                           GLOVER, Stephen - of Derby
4159563    LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
4159587                                Mackenzie, E. (Eneas)
Name: Author, Length: 6509, dtype: object

In [24]:
# are there still missing values
df.isnull().sum()

Place of Publication    73
Date of Publication      0
Publisher                0
Title                    0
Author                   0
Contributors             0
Issuance type            0
Flickr URL               0
Shelfmarks               0
dtype: int64

In [25]:
index = df.loc[df['Place of Publication'].isnull()].index
df.drop(index, axis=0, inplace=True)

In [26]:
# The data is cleaned
df

,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,,
206,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,London,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...,...
4157862,Newcastle,1867.0,T. Fordyce,"Local Records; or, Historical Register of rema...","FORDYCE, T. - Printer, of Newcastle-upon-Tyne","SYKES, John - Bookseller, of Newcastle-upon-Tyne",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 01...
4158088,London,1838.0,Unknown,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
4158128,Derby,1831.0,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
4159563,London,1806.0,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
4159587,Newcastle,1834.0,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...

In [27]:
# no more missing values
df.isnull().sum()

Place of Publication    0
Date of Publication     0
Publisher               0
Title                   0
Author                  0
Contributors            0
Issuance type           0
Flickr URL              0
Shelfmarks              0
dtype: int64

In [28]:
# save the cleaned file for EDA
df.to_csv('..//EDA//datasets//bookstore.csv')