In [1]:
import pandas as pd 
import numpy as np

In [2]:
vg = pd.read_csv('Datasets\\vgsales-12-4-2019-short.csv')
vg.head()

,Rank,Name,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year
0,1,Wii Sports,Sports,E,Wii,Nintendo,Nintendo EAD,7.7,NaN,82.86,NaN,NaN,NaN,NaN,NaN,2006.0
1,2,Super Mario Bros.,Platform,NaN,NES,Nintendo,Nintendo EAD,10.0,NaN,40.24,NaN,NaN,NaN,NaN,NaN,1985.0
2,3,Mario Kart Wii,Racing,E,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.14,NaN,NaN,NaN,NaN,NaN,2008.0
3,4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0
4,5,Wii Sports Resort,Sports,E,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.09,NaN,NaN,NaN,NaN,NaN,2009.0

In [3]:
# Lets start with setting the rank column as the index
vg.set_index('Rank', inplace=True)

In [4]:
# 55792 rows and 15 columns
vg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55792 entries, 1 to 55792
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           55792 non-null  object
 1   Genre          55792 non-null  object
 2   ESRB_Rating    23623 non-null  object
 3   Platform       55792 non-null  object
 4   Publisher      55792 non-null  object
 5   Developer      55775 non-null  object
 6   Critic_Score   6536 non-null   float64
 7   User_Score     335 non-null    float64
 8   Total_Shipped  1827 non-null   float64
 9   Global_Sales   19415 non-null  float64
 10  NA_Sales       12964 non-null  float64
 11  PAL_Sales      13189 non-null  float64
 12  JP_Sales       7043 non-null   float64
 13  Other_Sales    15522 non-null  float64
 14  Year           54813 non-null  float64
dtypes: float64(9), object(6)
memory usage: 6.8+ MB

In [5]:
# count how many NA's are in the colums
vg.isna().sum()

Name                 0
Genre                0
ESRB_Rating      32169
Platform             0
Publisher            0
Developer           17
Critic_Score     49256
User_Score       55457
Total_Shipped    53965
Global_Sales     36377
NA_Sales         42828
PAL_Sales        42603
JP_Sales         48749
Other_Sales      40270
Year               979
dtype: int64

In [6]:
# drop the any column that has na values above 40K
to_drop = ['Critic_Score', 'User_Score', 'Total_Shipped', 'NA_Sales', 'PAL_Sales', 'JP_Sales']
vg.drop(to_drop, axis=1, inplace=True)

In [7]:
vg.head()

,Name,Genre,ESRB_Rating,Platform,Publisher,Developer,Global_Sales,Other_Sales,Year
Rank,,,,,,,,,
1,Wii Sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,NaN,2006.0
2,Super Mario Bros.,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,NaN,1985.0
3,Mario Kart Wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,NaN,2008.0
4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,2017.0
5,Wii Sports Resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,NaN,2009.0

In [8]:
# data types of the column
vg.dtypes

Name             object
Genre            object
ESRB_Rating      object
Platform         object
Publisher        object
Developer        object
Global_Sales    float64
Other_Sales     float64
Year            float64
dtype: object

In [9]:
# front fill all the na values
vg.fillna(method='ffill', inplace=True)

In [10]:
vg.tail()

,Name,Genre,ESRB_Rating,Platform,Publisher,Developer,Global_Sales,Other_Sales,Year
Rank,,,,,,,,,
55788,Indivisible,Role-Playing,E,PC,505 Games,Lab Zero Games,0.0,0.0,2019.0
55789,Lost Ember,Adventure,RP,PC,Mooneye Studios,Mooneye Studios,0.0,0.0,2019.0
55790,Lost Ember,Adventure,RP,PS4,Mooneye Studios,Mooneye Studios,0.0,0.0,2019.0
55791,Lost Ember,Adventure,RP,XOne,Mooneye Studios,Mooneye Studios,0.0,0.0,2019.0
55792,Falcon Age,Action-Adventure,RP,PS4,Unknown,Outerloop Games,0.0,0.0,2019.0

In [11]:
# drop duplicates
vg.drop_duplicates(inplace=True)

In [12]:
# No duplicates
vg.loc[vg.duplicated()]

Empty DataFrame
Columns: [Name, Genre, ESRB_Rating, Platform, Publisher, Developer, Global_Sales, Other_Sales, Year]
Index: []

In [13]:
vg.to_csv('cleaned-vg-data')